body {
    padding: 0;
    margin: 0;
}

.calculator {
    border: 2px solid black;
    width: 50%;
    margin-left: 20%;
    border-radius: 2vw 2vw;
    margin-top: 2vw;
    background-color: rgb(38, 70, 109);
}


.vision {
    margin-top: 4vw;
    margin-left: 70%;
}

.block {
    border: 1px solid black;
    padding: 1vw;
    background-color: rgb(45, 64, 85)
}


.display input {
    font-size: 2vw;
    width: 40%;
    height: 2vw;
    margin-left: 1vw;
    margin-top: 4vw;
    padding: 0.5vw;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 7px -8px 18px -7px rgba(34, 60, 80, 1) inset;
    -moz-box-shadow: 7px -8px 18px -7px rgba(34, 60, 80, 1) inset;
    box-shadow: 7px -8px 18px -7px rgba(34, 60, 80, 1) inset;
    border-radius: 20px 20px;
}

.display a {
    text-align: center;
    margin-left: 2%;
    color: red;
    font-size: 3vw;
}

.function {
    margin-top: 4%;
    margin-bottom: 10%;
    font-size: 2vw;
}

.function button {
    margin-left: 8%;
    width: 5vw;
    font-size: 2vw;
    height: 5vw;
    box-shadow: 0.4vw 0.5vw 5px rgb(10, 5, 5);
    cursor: pointer;
}


.otvet {
    color: red;



}

.clear {
    background-color: rgb(246, 57, 164);
}

.division {
    background-color: blueviolet;
}

.multiply {
    background-color: blueviolet;
}

.minus {
    background-color: blueviolet;
}

.plus {
    background-color: blueviolet;
}

.texts {
    color: red;
    position: absolute;
    margin-top: 2vw;
    margin-left: 3vw;
    font-size: 4vw;
    font-style: italic;
}

.grand_color {
    margin-left: 35%;
    display: flex;
    font-size: 2vw;
    margin-top: -4%;

}


.grand_color input {
    margin-left: 2vw;
    width: 6vw;
    height: 2vw;
    margin-top: 4%;

}

.otvets {
    display: flex;
    margin-left: 40%;
}

.otvets {
    display: flex;
    margin-left: 40%;
    font-size: 2vw;
}

.otvet {
    margin-left: 3%;
}